/* HACKS ------------------------------------------------------------*/

.clear {
    clear: both;
    height: 1px;
}

.inv {
    display: none;
}

.alignleft {
    float: left;
    margin: 5px 10px 5px 0px;
}

.alignright {
    float: right;
    margin: 5px 0px 5px 10px;
}

/* GENERAL ------------------------------------------------------------*/

html {
    height: auto;
    min-height: 100vh;
}

body {
    position: relative;
    height: auto;
    min-height: 100vh;
    line-height: 1;
    color: #51565b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: #f1f1f1;
    margin: 0;
}

.wrapper {
    width: 966px;
    margin: 0px auto;
    position: relative;
}

.wrapper h1 a {
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
}

#header {
    height: 50px;
    position: relative;
    z-index: 10;
    background: #0a131b url(/AFW_WEBS/images/header-glow.png) top center no-repeat;
    /* Safari 4-5, Chrome 1-9 */
    background: #0a131b -webkit-gradient(radial, center center, 0, center center, 460, from(#2a3f5b), to(#0a131b));

    /* Safari 5.1+, Chrome 10+ */
    background: #0a131b -webkit-radial-gradient(circle, #2a3f5b, #0a131b);

    /* Firefox 3.6+ */
    background: #0a131b -moz-radial-gradient(circle, #2a3f5b, #0a131b);

    /* IE 10 */
    background: #0a131b center no-repeat -ms-radial-gradient(circle, #2a3f5b, #0a131b);
}

#header h1 {
    color: #f1f1f1;
    font-size: 20;
    text-decoration: none;
    margin-top: 0;
}

#main {
    display: inline;
    position: relative;
    overflow-y: auto;
    width: 100%;
}

#content {
    min-height: 400px;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

#logo {
    position: relative;
    top: 35px;
    left: 30px;
}

#content a {
    color: #2a3f5b;
}

.aoiStandardProducts a {
    margin-right: 20px;
}

#content p {
    margin-bottom: 20px;
}

#content .line-divider {
    clear: both;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

table.info, table.info td, table.info tr, table.info th {
    border: 1px solid #000000;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

table.info td {
    padding: 2px;
}

/* HEADLINE ------------------------------------------------------------*/

#headline {
    position: relative;
    width: 906px;
    margin: 20px auto 50px auto;
}

#headline > span.main {
    display: block;
    margin-right: 170px;
    font-family: arial, serif;
    font-size: 26px;
    line-height: 1.5em;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#headline > span.sub {
    display: block;
    margin-right: 170px;
    font-size: 18px;
    line-height: 1.5em;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#headline #link {
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
}

/* MENU ------------------------------------------------------------*/

#menu {
    position: static;
    display: block;
    width: 100%;
    padding-top: 1px;
    margin-bottom: 0px;
    background: #2a3f5b;
    background: -webkit-gradient(linear, left top, right bottom, from(#FCAF8D), to(#CF3E00));
    background: -moz-linear-gradient(left, #FCAF8D, #CF3E00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCAF8D', endColorstr='#CF3E00', GradientType=1);
}

#menu-holder {
    position: static;
    display: block;
    width: 100%;
    height: 75px;
    background: url(/AFW_WEBS/images/menu-bg.png) repeat-x;
}

/* NAVIGATION --------------------------------------------------------*/

#nav {
    display: block;
    position: relative;
    z-index: 10000;
    top: 0px;
    left: 30px;
    height: 75px;
    width: 906px;

    background: url(/AFW_WEBS/images/menu-bg.png) repeat-x;
}

#nav > li {
    display: block-inline;
    float: left;
    height: 100%;
    margin-right: 32px;
    line-height: 1em;
}

#nav > li:first-child {
}

#nav > li > a {
    display: block;
    font-size: 16px;
    color: #bac0c9;
    text-decoration: none;
    margin-top: 20px;
    text-shadow: 0px -2px rgba(0, 0, 0, .8);
}

#nav > li > a > span.subheader {
    display: block;
    font-size: 11px;
    color: #656b74;
    font-style: italic;
    margin-top: 10px;
}

#nav > li.current-menu-item {
    background: url(/AFW_WEBS/images/menu-arrow.png) no-repeat center bottom;
}

#nav > li:hover > a {
    color: #fff;
}

/* sub navigation */

#nav > li ul {
    display: block;
    margin-top: 33px;
    background: #1d2023;
}

#nav > li > ul ul {
    background: #1d2023;

    margin-top: 0px;
}

#nav > li ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 11px;
    color: #bac0c9;
    text-decoration: none;
    line-height: 1em;
}

#nav > li ul li a span {
    display: inline;
}

#nav > li ul li a:hover {
    background: #000;
    color: #fff;
}

#nav > li ul li:last-child a:hover {
}

/* breadcrumbs --------------------------------------------------------*/

#header #breadcrumbs {
    position: absolute;
    bottom: 11px;
    left: 30px;
    font-style: italic;
    color: #999;
    font-size: 10px;
}

#header #breadcrumbs a {
    color: #bfbdbd;
    text-decoration: none;
    background: url(/AFW_WEBS/images/breadcrumb-slash.png) no-repeat top right;
    padding-right: 14px;
}

/* TITLE --------------------------------------------------------*/

#page-title {
    overflow: hidden;
    height: 103px;
    margin-bottom: 30px;
    background: url(/AFW_WEBS/images/tabs-divider.png) repeat-x bottom center;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

#page-title .title {
    display: block;
    float: left;
    font-family: 'Ubuntu', arial, serif;
    font-size: 40px;
    line-height: 103px;
    margin-left: 30px;
}

#page-title .subtitle {
    display: block;
    float: left;
    margin-left: 30px;
    font-size: 14px;
    margin-top: 4px;
    line-height: 103px;
    color: #929191;
    font-style: italic;
}

/* HEADERS --------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
    font-family: arial, serif;
    font-weight: lighter;
    text-decoration: none;
    color: #51565b;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

#menu h1, #main h1, #tinymce h1, #footer h1 {
    font-size: 30px;
}

#menu h2, #main h2, #tinymce h2, #footer h2 {
    font-size: 28px;
}

#menu h3, #main h3, #tinymce h3, #footer h3 {
    font-size: 26px;
}

#menu h4, #main h4, #tinymce h4, #footer h4 {
    font-size: 24px;
}

#menu h5, #main h5, #tinymce h5, #footer h5 {
    font-size: 22px;
}

#menu h6, #main h6, #tinymce h6, #footer h6 {
    font-size: 20px;
}

/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
    float: left;
    margin-right: 30px;
    position: relative;
}

.one-half {
    width: 438px;
}

.one-third {
    width: 282px;
}

.one-fourth {
    width: 204px;
}

.two-third {
    width: 594px;
}

.three-fourth {
    width: 672px;
}

.last {
    clear: right;
    margin-right: 0 !important;
}

/* SEARCH --------------------------------------------------------*/

.top-search {
    position: absolute;
    top: 5px;
    right: 30px;
}

#searchform #s {
    background-image: url(/AFW_WEBS/images/magnifyingGlass.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-color: #A7AAC5;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 12px;
    width: 180px;
    height: 24px;
    padding: 0px 30px 0px 10px;
    border: 2px groove;
    border-color: #AFAFAF;
}

#searchform #searchsubmit {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 30px;
    height: 25px;
    border: 0px;
    background: transparent;
}

/* FILTER --------------------------------------------------------*/

#content .filter {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#content .filter li {
    display: block;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    background: #d1d1d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#f1f1f1));
    background: -moz-linear-gradient(top, #d1d1d1, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f1f1f1', GradientType=0);
    border-top: 1px solid #bcbcbc;
}

#content .filter li a {
    display: block;
    color: #606060;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#content .filter li:first-child:hover {
    background: none;
}

#content .filter li.active,
#content .filter li:hover {
    background: #000;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

#content .filter li:hover a,
#content .filter li.active a {
    color: #f1f1f1;
}

#content .filter li:first-child,
#content .filter li:first-child:hover {
    background: none;
    border: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .0);
}

/* PAGES --------------------------------------------------------*/

#page-content {
    float: left;
    width: 906px;
    margin-left: 30px;
    line-height: 1.5em;
}

/* GALLERY -----------------------------------------------*/

#content .filter li.selected {
    background: #000;
}

/* GALLERY -----------------------------------------------*/

#content .gallery {
    display: block;
    overflow: hidden;
}

#content .gallery li {
    display: block;
    float: left;
    overflow: hidden;
    background: url(/AFW_WEBS/images/plus-sign.png) center center no-repeat;
    width: 204px;
    height: 148px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#content .gallery.three-cols li {
    width: 282px;
    height: 267px;
}

#content .gallery.two-cols li {
    width: 438px;
    height: 267px;
}

#content .gallery li a {
    display: block;
}

#content .commentlist .reply a {
    display: block;
    text-decoration: none;
    float: right;
    padding: 2px 8px;
    background: #ccc;
    color: #f1f1f1;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* LEAVE COMMENT --------------------------------------------------------*/

.leave-comment {
    margin-top: 20px;
    padding-top: 30px;
    background: url(/AFW_WEBS/images/post-divider-inverted.png) no-repeat;
}

.leave-comment h2 {
    margin-bottom: 20px;
}

/* CONTACT --------------------------------------------------------*/

.one-column {
    width: 438px;
    float: left;
    margin-left: 30px;
}

/* FORMS ------------------------------------------------------------*/

#sc-contact-form,
#contactForm,
#commentform,
#contactForm {
    margin-bottom: 18px;
}

#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea {
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#sc-contact-form input,
.admin-form input,
#contactForm input,
#commentform input {
    width: 282px;
}

#sc-contact-form textarea,
.admin-form textarea,
#contactForm textarea,
#commentform textarea {
    width: 380px;
}

#sc-contact-form #submit,
.admin-form #submit,
#contactForm #submit,
#commentform input#submit {
    width: 76px;
    margin: 21px 0px;
    padding: 5px 0px;
    color: #f1f1f1;

    background: #515558;
    background: -webkit-gradient(linear, left top, left bottom, from(#515558), to(#131313));
    background: -moz-linear-gradient(top, #515558, #131313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515558', endColorstr='#131313', GradientType=0);

    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);

    border: 1px solid transparent;
}

#sc-contact-form #submit:hover,
.admin-form #submit:hover,
#contactForm #submit:hover,
#commentform input#submit:hover {
    background: #515558;
    background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#515558));
    background: -moz-linear-gradient(top, #131313, #515558);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#515558', GradientType=0);
}

#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea {
    color: #606060;
    font-size: 14px;
}

#sc-contact-form label,
.admin-form label,
#contactForm label,
#commentform label {
    display: block;
    font-size: 14px;
    line-height: 2.5em;
    font-weight: light;
}

form input.button {
    border: 0px;
    background-color: #CF3E00;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

form input.button[disabled] {
    border: 0px;
    background-color: #CCCCCC;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

form input.button:hover {
    cursor: pointer;
}

.form_section {
    clear: both;
    display: block;
    width: 100%;
    padding: 5px;
    text-align: left;
    float: left;
}

.sm_input {
    width: 100px;
}

.lg_input {
    width: 200px;
}

.textinput {
    clear: both;
    width: 100%;
    display: block;
}

.textinput label {
    width: 15%;
    text-align: left;
    display: inline;
    float: left;
}

.textinput input, .textinput select {
    display: inline;
    float: left;
}

.textareainput {
    clear: both;
    width: 100%;
    display: block;
}

.textareainput label {
    width: 45%;
    text-align: left;
    display: block;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.textareainput textarea {
    width: 49%;
    display: block;
    float: left;
}

/* PAGER ------------------------------------------------------------*/

.pager {
    padding-top: 0px;
    overflow: hidden;
    display: block;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 10px;
}

.pager li {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    float: left;
}

#content .pager li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #606060;
    border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
    background: #d1d1d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#f1f1f1));
    background: -moz-linear-gradient(top, #d1d1d1, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f1f1f1', GradientType=0);

    border-top: 1px solid #bcbcbc;
}

#content .pager li:hover a,
#content .pager li.active a {
    color: #fff;
    background: #515558;
    background: -webkit-gradient(linear, left top, left bottom, from(#515558), to(#131313));
    background: -moz-linear-gradient(top, #515558, #131313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515558', endColorstr='#131313', GradientType=0);

    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);

    border-top: none;
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar {
    float: left;
    width: 282px;
    margin-left: 30px;
}

#sidebar > li {
    margin-bottom: 20px;
}

#sidebar > li h6 {
    padding-bottom: 20px;
}

#sidebar ul > li {
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    border-bottom: 1px solid #d7d7d7;
}

#sidebar ul > li:last-child {
    border-bottom: none;
}

#sidebar ul > li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #696969;
}

#sidebar ul > li:hover {
    background: #f1f1f1;
}

/* FOOTER - COLS ------------------------------------------------------------*/

#footer {
    position: relative;
    background: #132B40 url(/AFW_WEBS/images/footer-glow.png) no-repeat top center;
    color: #fff;
}

/* FOOTER - COLS ------------------------------------------------------------*/

#footer-cols {
    display: block;
    overflow: hidden;
    color: #bbbaba;
    line-height: 1.5em;
}

#footer-cols li.col {
    display: block;
    font-size: 12px;
    width: 282px;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

#footer-cols li.col > h6 {
    color: #d7d7d7;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 0px -2px rgba(0, 0, 0, .8);
}

#footer-cols li.clear-col {
    clear: left;
}

#footer-cols li.col ul {
    display: block;
}

#footer-cols li.col ul li {
    display: block;
    line-height: 1.7em;
}

#footer-cols li.col ul li.page_item {
    display: block;
    line-height: 2.5em;
    padding-left: 17px;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #000;
    background: url(/AFW_WEBS/images/footer-bullet.png) no-repeat 0px 10px;
}

#footer-cols li.col ul li:first-child {
    border-top: none;
}

#footer-cols li.col ul li:last-child {
    border-bottom: none;
}

#footer-cols li.col ul li a {
    text-decoration: none;
    color: #bbbaba;
}

#footer-cols li.col ul li a:hover {
    color: #fff;
}

/* FOOTER BOTTOM --------------------------------------------------------*/

#bottomSpacer {
    height: 40px;
}

#bottom {
    display: inline;
    position: absolute;
    height: 40px;
    bottom: 0px;
    width: 100%;
    min-width: 966px;
    font-size: 11px;
    line-height: 1.5em;
    color: #868686;
    background: #0a131b url(/AFW_WEBS/images/bottom-shadow.png) repeat-x;
}

#bottom #to-top {
    position: absolute;
    right: 30px;
    top: -22px;
    width: 33px;
    height: 33px;
    background: url(/AFW_WEBS/images/to-top.png) no-repeat;
    cursor: pointer;
}

